<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="styles/styles.css">
</head>
<body>

	<h1>Signal Level</h1>
    <div id ="signal"></div>


	<h1>Attention</h1>
	<p id="attention"></p>
	<input id="attention_slider" type='range' min='0' max='100' step='1' value='0'/>


	<h1>Meditation</h1>
	<p id="meditation"></p>
	<input id ="meditation_slider" type='range' min='0' max='100' step='1' value='0'/>



	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
	<script type="text/javascript" src="scripts/scripts.js"></script>

</body>
</html>