body, html{
	padding:0;
	margin:0;
	width:100%;
	height:100%;
	overflow: hidden;

}

canvas{
	background: transparent;
	margin: 0;
	padding: 0;
}

/*.slider{
	position: absolute;
	top: 15px;
	height: 200px;
}
#control{
	left:35px;
}*/