body,
html {
  margin: 0;
  padding: 0;
  background-color: #111;
}

h1 {
  font-family: "Dosis", sans-serif;
  font-weight: 200;
  font-size: 40px;
  color: #bbb;
  letter-spacing: 2px;
}

p {
  font-family: "Dosis", sans-serif;
  font-weight: 200;
  font-size: 20px;
  color: #bbb;
  margin: 0;
  letter-spacing: 2px;
  display: inline;
}

li {
  list-style: none;
  margin: 5px 0px;
  padding: 0;
}
.intro {
  margin: auto;
  margin-bottom: 20px;
  padding: 0;
  width: 230px;
}

.blackout {
  width: 100%;
  height: 100%;
  background-color: #111;
  position: relative;
}

.prompt {
  width: 300px;
  background-color: #2a2826;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 30px;
}

a,
a:hover {
  color: #00ffff;
}

.source-code {
  display: block;
  font-size: 80%;
}

.no-connection {
  border: solid #444 1px;
  padding: 20px;
}

.no-connection-name {
  display: block;
  font-size: 80%;
  margin: 20px 0;
}

.no-connection-input {
  border-color: #bbb;
  display: inline-block;
  margin-top: 10px;
  padding: 4px 7px;
  color: #bbb;
}

.no-connection svg {
  display: inline-block;
  vertical-align: bottom;
  height: 25px;
  cursor: pointer;
  fill: #0f0;
  margin-left: 5px;
}

.loading {
  width: 120px;
  height: 120px;
}

.check {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  fill: #0f0;
}

input {
  display: inline;
  width: 100px;
  margin: 0;
  background: transparent;
  border: #444 2px solid;
  outline-style: none;
  box-shadow: none;
}

.pending {
  fill: #444;
  color: #444;
}

#datavis {
  padding: 70px;
  width: 700px;
  margin: auto;
}

#visualizer {
  width: 460px;
  height: 460px;
  margin: 0;
  float: left;
}

.visualizerinfo {
  float: left;
  padding-left: 30px;
}

.waves {
  padding: 0;
}
